@page "/admin-panel"
@using MindLink.Data.Models
@using MindLink.Data.Services
@using MindLink.Data.Services
@inject MindLink.Data.MindLinkDbContext DbContext
<link href="css/Homepage.css" rel="stylesheet" />
<link href="css/Homepage - admin.css" rel="stylesheet" />

<PageTitle>MindLink - Администратор</PageTitle>

<div class="admin-page">
    <div class="users-section">
        <div class="users-header">
            <input type="text" placeholder="Search user..." class="search-input" />
            <button class="btn addBtn" @onclick="OpenAddUser">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" style="margin-right: 5px; margin-bottom: 3px;" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                 Add User
            </button>
        </div>

        <table class="users-table">
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Фамилия</th>
                    <th>Username</th>
                    <th>Роля</th>
                    <th>Създаден</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        @{
                            int index = user.Name.IndexOf(' ');
                            string firstName = user.Name.Substring(0, index);
                            string lastName = user.Name.Substring(index + 1);
                        }
                        <td>@firstName</td>
                        <td>@lastName</td>
                        <td>@user.Username</td>
                        <td>@(user.RoleId == 1 ? "User" : "SuperAdmin")</td>
                        <td>@user.CreatedAt.Date</td>
                        <td>
                            <button class="btn editBtn" @onclick="() => OpenEdit(user)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg>
                            </button>
                            <button class="btn delete-btn" @onclick="() => OpenDelete(user)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (isEditOpen)
    {
        <div class="modal-overlay">
            <div class="edit-panel">
                <h3>@(isAdding ? "Добавяне на потребител" : "Редактиране на потребител")</h3>
                <div class="field">
                    <label>Име</label>
                    <input type="text" placeholder="Име" @bind-value="@firstName"/>
                </div>
                <div class="field">
                    <label>Фамилия</label>
                    <input type="text" placeholder="Фамилия" @bind-value="@lastName" />
                </div>
                <div class="field">
                    <label>Потребителско име</label>
                    <input type="text" placeholder="Потребителско име" @bind-value="@currentUser.Username"/>
                </div>
                <div class="field">
                    <label>Парола</label>
                    <input type="text" placeholder="••••••••••" @bind-value="@currentUser.Username"/>
                </div>
                <div class="field">
                    <label>Потвърдете паролата</label>
                    <input type="password" placeholder="••••••••••" @bind-value="@currentUser.Username"/>
                </div>

                <div class="field">
                    <label class="inf">Роля</label>
					<div class="dropdown-field">
						<button class="input-fields dropdown-btn" type="button" @onclick="ToggleDropdown">
							<span class="dropdown-label @(currentUser.RoleId > 0 ? "selected" : "")">@selectedRoleLabel</span>

							<svg class="dropdown-arrow @(isDropdownOpen ? "open" : "")"
								 xmlns="http://www.w3.org/2000/svg"
								 viewBox="0 0 24 24">
								<path d="M7 10l5 5 5-5" fill="none" stroke="currentColor" stroke-width="2"
									  stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</button>
						@if (isDropdownOpen)
						{
							<div class="dropdown-backdrop" @onclick="CloseDropdown"></div>
						}
						<ul class="dropdown-menu @(isDropdownOpen ? "show" : "")">
							<li @onclick="() => SelectRole(1)">
								<span class="dropdown-options">Потребител</span>
							</li>
							<li @onclick="() => SelectRole(3)">
								<span class="dropdown-options">Администратор</span>
							</li>
						</ul>
					</div>
                </div>

                <div class="edit-actions">
                    <button class="btn saveBtn" @onclick="SaveUser">@(isAdding ? "Добави" : "Запази")</button>
                    <button class="btn cancelBtn" @onclick="CloseEdit">Откажи</button>
                </div>
            </div>
        </div>
    }

    @if (isDeleteOpen)
    {
        <div class="modal-overlay">
            <div class="delete-panel">
                <h3>Изтриване на потребител</h3>
                <p>Сигурни ли сте, че искате да изтриете потребител <strong>@currentUser.Name</strong>?</p>
                <div class="edit-actions">
                    <button class="btn delete-btn" @onclick="ConfirmDelete">Изтрий</button>
                    <button class="btn cancelBtn" @onclick="CloseDelete">Откажи</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    bool isEditOpen = false;
    bool isAdding = false;
    bool isDeleteOpen = false;
        private bool isDropdownOpen = false;
	private string selectedRoleLabel = "- -  Изберете роля  - -";

    string firstName = string.Empty;
    string lastName = string.Empty;

    UsersService _usersService = null;
    User currentUser = new User();
    List<User> users = new List<User>();

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        _usersService = new UsersService(DbContext);
        users = await _usersService.GetAllUsers();
        StateHasChanged();
    }

    void OpenEdit(User user)
    {
        currentUser = user;
        int index = user.Name.IndexOf(' ');
        firstName = user.Name.Substring(0, index);
        lastName = user.Name.Substring(index + 1);
        isAdding = false;
        isEditOpen = true;
    }

    void OpenAddUser()
    {
        currentUser = new User();
        firstName = string.Empty;
        lastName = string.Empty;
        isAdding = true;
        isEditOpen = true;
    }

    void CloseEdit() => isEditOpen = false;

    void SaveUser()
    {
        if (isAdding)
        {
            _usersService.CreateUser(currentUser);
            currentUser.Name = firstName + " " + lastName;
            users.Add(currentUser);
        }
        else
        {
            currentUser.Name = firstName + " " + lastName;
            _usersService.UpdateUser(currentUser);
        }
        isEditOpen = false;
        StateHasChanged();
    }

    void OpenDelete(User user)
    {
        currentUser = user;
        isDeleteOpen = true;
    }

    void CloseDelete() => isDeleteOpen = false;

    void ConfirmDelete()
    {
        users.Remove(currentUser);
        _usersService.DeleteUser(currentUser);
        isDeleteOpen = false;
    }


	private void ToggleDropdown()
	{
		isDropdownOpen = !isDropdownOpen;
	}

	private void CloseDropdown()
	{
		isDropdownOpen = false;
	}

	private void SelectRole(int roleId)
	{
		currentUser.RoleId = roleId;
		selectedRoleLabel = roleId switch
		{
			1 => "Потребител",
			2 => "Администратор",
			_ => "- -  Изберете роля  - -"
		};
		isDropdownOpen = false;
	}
}
